error_log /Users/shaokexu/sk/github-mine/dia-ui/logs/error.log;
worker_rlimit_nofile 8192;
events {
    worker_connections 4096;
}
http {
    include mime.types;
    server {
        listen 8000;
        server_name munew.com www.munew.com;
        access_log /Users/shaokexu/sk/github-mine/dia-ui/logs/access.log;
        root /Users/shaokexu/sk/github-mine/dia-ui/dist;
        location / {
            root /Users/shaokexu/sk/github-mine/dia-ui/dist;
        }
# All API request direct do proxy, don't need to continue to search match
        location ^~ /apis {
            proxy_pass http://127.0.0.1:9099;
        }
# For statc files
        location ~* ^.+\.(jpg|jpeg|gif|png|ico|json|html|js|css|map)$ {
            root /Users/shaokexu/sk/github-mine/dia-ui/dist;
        }
# handle single page application
        location ~* ^\/.*$ {
            try_files /index.html =404;
        }
    }
}
